<div id="session">
  <h2>Please log in</h2>

  <% if flash[:notice] %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw flash[:notice] %>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw flash[:alert] %>
  </div>
  <% end %>


  <%= form_tag do %>
    <div class="fields">
      <div class="field">
        <%= text_field_tag :username, params[:username], :placeholder => 'username' %>
      </div>

      <div class="field">
        <%= password_field_tag :password, params[:password], :placeholder => 'password' %>
      </div>
    </div> 

    <div class="submit-button">
      <%= button_submit_tag "Login", :class => 'button-pill' %>
    </div>
  <% end %>
</div>
