<% content_for :title, "Admin" %>

<div id="admin">
<h1>Super Secret Administration Panel</h1>
<br><br>
<div class="float-right"><%= link_to 'New post', 'posts/new', :method => :get, :class => 'button icon add'  %></div>

<h2>Posts</h2>
<table id="posts">
  <tr>
    <th id="title">Title</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Author</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td> <%= post.title %> </td>
      <td> <%= post.created_at.strftime("%d/%m/%y") %> </td>
      <td> <%= post.updated_at.strftime("%d/%m/%y") %> </td>
      <td> <%= User.find_by_id(post.user_id).username %> </td>
      <td><%= search_button_link_to 'Show', post %></td>
      <td><%= edit_button_link_to 'Edit', edit_post_path(post) %></td>
      <td><%= trash_button_link_to 'Destroy', post, :method => :delete, data: { confirm: 'Are you sure?' }  %></td>
    </tr>
  <% end %>
</table>
</div>