<div id="user">
  
  <div id="avatar">
    <%= gravatar_image_tag(user.email, :alt => user.username) %>
  </div>

  <div id="info">
    <div id="username"><%= user.username %></div>
    <div id="email"><%= mail_to user.email, nil, :replace_at => "_at_", :replace_dot => "_dot_", :class => "email" %></div>
    <div id="posts">Posts: <%= Post.count(:conditions => "user_id = #{user.id}") %></div>
    <div id="bio">About:<br> <%= user.bio %></div>
  </div>
</div>