<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @post, :html => { :class => "form-horizontal", :multipart => true} do |f| %>
  <%= f.input :title, :placeholder => 'Title' %>
  <%= f.input :content_md, :placeholder => 'Post in *markdown* syntax post here', :html => { :class => "post_content"}, :label => 'Content' %>
  <%= f.input :category_list, :placeholder => 'Categories separated by commas' %>
  <%= f.input :published, :label => "Publish?", :inline_label => "If unchecked this post will be saved as draft" %>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => session[:user_id] } %>
    
  <%= f.button :submit, 'Save', :class => "button primary big" %>
<% end %>
