<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @post do |f| %>
  <%= f.input :title, :placeholder => 'Title', :label => false %>
  <%= f.input :content_md, :placeholder => 'Post in *markdown* syntax post here', :html => { :class => "post_content"}, :label => false %>
  <%= f.input :category_list, :placeholder => 'Categories separated by commas', :label => false %>
  <%= f.input :published %>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => session[:user_id] } %>
  <%= f.button :submit %>
<% end %>
