<div id="post">
    
    <div id="title"><%= link_to(post.title, post) %></div>
    
    <div id="content"><%= raw post.content %></div>
    
    <div id="info">Written by
      <% @author = User.find_by_id(post.user_id) %>
      <%= link_to( @author.username, user_url(@author) ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="label-calendar">&nbsp; &nbsp; &nbsp;<%= link_to post.created_at.strftime("%d %b %Y"), '#'  %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <% if request.env['PATH_INFO'] != post_path(post) %>
        <span class="label-comments">&nbsp; &nbsp; &nbsp;<%= link_to 'Comments', post  %></span>
      <% end %>

      <% if post.user_id == session[:user_id] %>
        <span style="margin-left=20px;"><%= link_to 'Edit', edit_post_path(post) %></span>
      <% end %>
    </div>
         
  
  <% if request.env['PATH_INFO'] == post_path(post) %>
  <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'lifeofadev'; // required: replace example with your forum shortname
      var disqus_developer = 1;

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  <% end %>
</div>