<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="left">
    <%= image_tag("logo.png", :border=>0, :class => 'logo') %>
  </div>
  <div id="right">
    
  </div>

  <div id="center">
    <%= yield %>
  </div>
  

</body>
</html>
